<h2>{{title().title}}</h2>
<button (click)="onbtnClick()">change title</button>

<p>
    what is signals <br>
    A signal is a special kind of variable that can notify other parts of your application when its value changes.<br>
    Signals are used to manage state and reactivity in a more efficient way compared to traditional methods like<br>
    Observables or EventEmitters.<br>
    Signals are designed to be simple and easy to use, making it easier to build reactive applications.<br>
    set method is used to set the value of a signal to a new value.<br>
    update method is used to update the value of a signal based on its current or previous value.<br>
    Signals return a function that can be called to get the current value of the signal.<br>
</p>